In [1]:
import pandas as pd

In [3]:
data = pd.read_csv("../20180720-home2mimos.csv")

In [7]:
data.head(10)

,42:55.0,45,13278,131,247,24,385,385.1,0,3025,...,0.3,0.4,0.5,0.6,1103,0.7,0.8,0.9,0.10,0.11
0,42:55.0,45.0,NaN,NaN,NaN,25.0,385.0,385.0,NaN,NaN,...,NaN,NaN,NaN,NaN,1114.0,NaN,NaN,NaN,NaN,NaN
1,42:55.1,45.0,NaN,NaN,NaN,25.0,385.0,385.0,NaN,NaN,...,NaN,NaN,NaN,NaN,1114.0,NaN,NaN,NaN,NaN,NaN
2,42:55.1,46.0,13278.0,NaN,NaN,25.0,386.0,386.0,NaN,NaN,...,NaN,NaN,177.0,50.0,1121.0,283.0,2653.0,434.0,784.0,NaN
3,42:55.2,46.0,13278.0,NaN,NaN,25.0,386.0,386.0,NaN,NaN,...,NaN,NaN,177.0,50.0,1121.0,283.0,2664.0,434.0,786.0,NaN
4,42:55.2,47.0,13262.0,NaN,NaN,24.0,386.0,386.0,NaN,NaN,...,NaN,NaN,177.0,50.0,1101.0,283.0,2664.0,434.0,786.0,NaN
5,42:55.3,49.0,13216.0,NaN,NaN,24.0,385.0,385.0,NaN,3025.0,...,NaN,NaN,177.0,50.0,1086.0,283.0,2679.0,434.0,789.0,NaN
6,42:55.4,49.0,13262.0,NaN,NaN,24.0,386.0,386.0,NaN,3026.0,...,NaN,NaN,177.0,50.0,1080.0,283.0,2690.0,434.0,790.0,NaN
7,42:55.5,50.0,13294.0,NaN,NaN,25.0,387.0,387.0,NaN,3025.0,...,NaN,NaN,177.0,50.0,1105.0,283.0,2669.0,434.0,787.0,NaN
8,42:55.5,50.0,13294.0,NaN,NaN,24.0,385.0,385.0,NaN,3025.0,...,NaN,NaN,177.0,50.0,1083.0,283.0,2688.0,434.0,789.0,NaN
9,42:55.6,56.0,13294.0,NaN,NaN,24.0,388.0,388.0,NaN,3026.0,...,NaN,NaN,177.0,50.0,1099.0,283.0,2675.0,434.0,787.0,NaN

In [ ]:
data.isna().sum()

In [8]:
data = data.ffill()
data.head(10)

,42:55.0,45,13278,131,247,24,385,385.1,0,3025,...,0.3,0.4,0.5,0.6,1103,0.7,0.8,0.9,0.10,0.11
0,42:55.0,45.0,NaN,NaN,NaN,25.0,385.0,385.0,NaN,NaN,...,NaN,NaN,NaN,NaN,1114.0,NaN,NaN,NaN,NaN,NaN
1,42:55.1,45.0,NaN,NaN,NaN,25.0,385.0,385.0,NaN,NaN,...,NaN,NaN,NaN,NaN,1114.0,NaN,NaN,NaN,NaN,NaN
2,42:55.1,46.0,13278.0,NaN,NaN,25.0,386.0,386.0,NaN,NaN,...,NaN,NaN,177.0,50.0,1121.0,283.0,2653.0,434.0,784.0,NaN
3,42:55.2,46.0,13278.0,NaN,NaN,25.0,386.0,386.0,NaN,NaN,...,NaN,NaN,177.0,50.0,1121.0,283.0,2664.0,434.0,786.0,NaN
4,42:55.2,47.0,13262.0,NaN,NaN,24.0,386.0,386.0,NaN,NaN,...,NaN,NaN,177.0,50.0,1101.0,283.0,2664.0,434.0,786.0,NaN
5,42:55.3,49.0,13216.0,NaN,NaN,24.0,385.0,385.0,NaN,3025.0,...,NaN,NaN,177.0,50.0,1086.0,283.0,2679.0,434.0,789.0,NaN
6,42:55.4,49.0,13262.0,NaN,NaN,24.0,386.0,386.0,NaN,3026.0,...,NaN,NaN,177.0,50.0,1080.0,283.0,2690.0,434.0,790.0,NaN
7,42:55.5,50.0,13294.0,NaN,NaN,25.0,387.0,387.0,NaN,3025.0,...,NaN,NaN,177.0,50.0,1105.0,283.0,2669.0,434.0,787.0,NaN
8,42:55.5,50.0,13294.0,NaN,NaN,24.0,385.0,385.0,NaN,3025.0,...,NaN,NaN,177.0,50.0,1083.0,283.0,2688.0,434.0,789.0,NaN
9,42:55.6,56.0,13294.0,NaN,NaN,24.0,388.0,388.0,NaN,3026.0,...,NaN,NaN,177.0,50.0,1099.0,283.0,2675.0,434.0,787.0,NaN

In [9]:
data.isna().sum()

42:55.0        0
45             0
13278          2
131           11
247           27
24             0
385            0
385.1          0
0          23177
3025           5
3248           0
385.2          4
0.1            2
1              6
345            0
0.2            2
1000         293
0.3        23177
0.4        23177
0.5            2
0.6            2
1103           0
0.7            2
0.8            2
0.9            2
0.10           2
0.11       23177
dtype: int64